/* IDS */

#title{
    background-color: #2B2E4A;
    padding-bottom: 10%;
}

#skills{
    background-color: #E84545;
    padding-bottom: 15rem;
    padding-top: 10%;
    padding-left: 1%;
}

#projects{
    
    background-color: #903749;
    padding-bottom: 100rem;

}

#contact{
    background-color: #53354A;
    padding-bottom: 100rem;
}

#navprime{
    background-color: #2B2E4A;
    opacity: .8;
}

#navs{
    padding-right: 10%;
}
/* FIXED */

body{
    position:relative;
    
}






/* classes */

.head1{
    padding-top: 10%;
    
}
.Head1-text{
    font-family: 'Press Start 2P', cursive;
    color: #F9DBBB;
    letter-spacing: 1rem;

}
.navbar-brand{
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    color: #F9DBBB;
    margin: auto 0 0 5%;

}

.head1{
    text-align: center;
}

.imageself{
    margin-top: 5%;
}

.circleimage{
    border-radius: 100%;
    background-color: #903749;
}

.nav-item{
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 0 1%;
}

.nav-link{
    color: #F9DBBB;
}

.active{
    text-decoration-line: underline ;
}
.introduction{
    margin: 5% auto;
    color: #F9DBBB;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    max-width: 50%;
    
}





/* SKILL CARDS */

.card{
    text-align: center;
    background-color: #53354A;
    color: #F9DBBB;
    font-family: 'Press Start 2P', cursive;
    padding-top: 0.5rem;
    margin: 2% 0% 0 3.5%;
    width: 33rem;
}

.icon{
    width: 75px;
    height: 75px;
    margin: 1% AUTO 5%;
    padding: 3% 3%;
}
.icon1{
    width: 75px;
    height: 75px;
    margin: 1% AUTO 5%;
    border-radius: 100%;
}

.card-body{
    background-color: #903749;
}

.card-name{
    font-size: 1rem;
    margin-top: 5%;
}