/* IDS */

#title{
    background-color: #2B2E4A;
    padding-bottom: 10%;
}

#skills{
    background-color: #E84545;
    padding-bottom: 100rem;
}

#projects{
    background-color: #903749;
    padding-bottom: 100rem;

}

#contact{
    background-color: #53354A;
    padding-bottom: 100rem;
}

#navprime{
    background-color: #2B2E4A;
    opacity: .8;
}

#navs{
    padding-right: 10%;
}
/* FIXED */

body{
    position:relative;
}






/* classes */

.head1{
    padding-top: 10%;
    
}
.Head1-text{
    font-family: 'Press Start 2P', cursive;
    color: #F9DBBB;
    letter-spacing: 1rem;

}
.navbar-brand{
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    color: #F9DBBB;
    margin: auto 0 0 5%;

}

.head1{
    text-align: center;
}

.imageself{
    margin-top: 5%;
}

.circleimage{
    border-radius: 100%;
    background-color: #903749;
}

.nav-item{
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 0 1%;
}

.nav-link{
    color: #F9DBBB;
}

.active{
    text-decoration-line: underline ;
}
.introduction{
    margin: 5% auto;
    color: #F9DBBB;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    max-width: 50%;
}